*{
  -webkit-tap-highlight-color: transparent;
}


canvas{
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}

#root{
  height: 100%;
}

.tip{
  display: flex;
  place-items: center;
  place-content: center;
  background-color: #f6f6f6;
  border-radius: 12px;
  padding: 6px 12px;
}
.tip img{
  width: 24px;
  margin-right: 8px;
}
.tip p{
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 500;
  color: #888;
  text-align: center;
}

.flex-centered{
  display: flex;
  flex: 1;
  place-items: center;
  place-content: center;
}

.flex-column{
  flex-direction: column;
}

#container{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100%;
}

#ruler{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.button{
  z-index: 2;
  position: relative;
  display: flex;
  /* flex:1; */
  justify-content: space-around;
  align-items: center;
  padding: 5px 12px;
  box-sizing: border-box;
  border-radius: 12px;
  border:2px solid #ccc;
  /* border-bottom: 2px solid #aaa; */
  /* background-color: #ccc; */
  color: #ccc;
  margin-bottom: 6px;
  font-weight: bold;
  user-select: none;
}

.button--red{
  border-color: #e55e57;
  color: #e55e57;
  /* border-color: #e55e57; */
}
/* .button--red::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: yellow;
  width: 100%;
  height: 110%;
  z-index: 0;
} */
.button--green{
  color: #b2d582;
  border-color: #b2d582;
}

.button:active{
  border-bottom-width: 2px;
}
.button p{
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
}
.button img{
  width: 18px;
  right: 8px;
  position: absolute;
}
.button:hover{
  cursor: pointer;
  /* background-color: #f6f6f6; */
}

.button--disabled{
  color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
  cursor: initial !important;
}

.button--disabled img{
  display: none;
}

#nav{
  display: flex;
  justify-content: center;
  /* position: absolute; */
  top: 0px;
  width: 100%;
  /* padding: 10px 0px; */
  background-color: #fafafa;
  border-bottom: 2px solid #eee;
}

#nav > div{
  display: flex;
  position: relative;
  top: 2px;
  width: min(100%, 500px);
  justify-content: center;
}

.nav-button{
  /* width: 30%; */
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-weight: bold;
  /* border: 2px solid transparent; */
  padding: 8px 8px;
  margin: 0 5px;
  transition: transform .25s;
  user-select: none;
}

.--active{
  border-bottom: 2px solid black !important;
  /* transform: translateY(-2px); */
  /* border-bottom-color: black; */
}
.nav-button:hover{
  cursor: pointer;
  /* border-bottom: 2px solid #aaa; */
}

.nav-button img{
  position: relative;
  width: 30px;
  color: black;
  user-select: none;
}

.nav-button p{
  margin: 0;
  padding: 0;
  /* padding-bottom: 4px; */
  position: relative;
  color:black;
  margin-left: 6px;
  user-select: none;
}

.title{
  padding: 12px 0;
  margin: 6px 0;
  /* border: 3px solid #dcdcdc; */
  background-color: #f4f4f4;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}