.lesson-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
.lesson-upper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lesson-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    background-color: #e6e6e6;
    border: 6px solid #bbb;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
#lesson-progress-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    border-radius: 8px;
    margin: 4px;
    width: 20px;
    height: 20px;
}
.lesson-progress{
    width: 100%;
    margin-top: 5px;
}
.lesson-upper:hover .lesson-content{
    background-color: burlywood;
    cursor: pointer;
}
.lesson-title{
    font-size: large;
}