@keyframes enlarge{
  from {
    transform: scale(1);
  }
  50%{
    transform: scale(1.12);
  }
  to{
    transform: scale(1);
  }
}

@keyframes enlarge-big{
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(1.65);
  }
  to{
    transform: scale(1);
  }
}

@keyframes slidein{
  from{
    top: 75px;
    opacity: 0;
    height: 0%;
    border: 4px solid #aaa;
  }
  25%{
    height: 100%;
    top: 0px;
    opacity: 1;
    padding: 10px;
  }
  85%{
    height: 100%;
    opacity: 1;
    /* display: block; */
    padding: 10px;
  }
  95%{
    border: 4px solid #aaa;
  }
  100%{
    opacity: 0;
    height: 0%;
    /* visibility: hidden; */
    display: none;
    padding: 0;
  }
}

@keyframes speech-show{
  from{
    left: -120%;
    height: 0px;
  }
  to{
    left: 0px;
    height: 100px;
  }
}

@keyframes speech-hide{
  from{
    height: 100px;
    left: 0px;
  }
  30%{
    height: 100px;
  }
  100%{
    height: 0px;
    left: -600px;
  }
}